<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
	  {% if states|length > 1 %}
	    <H1>States</H1>
	  {% elif states|length == 0%}
	    <H1>Not found!</H1>
	  {% else %}
	    <H1>State: {{ states.0.name }}</H1>
	    <H3>Cities:</H3>
	  {% endif %}

	{% if states|length == 0 %}
	{% elif states|length > 1 %}
	  <UL>
	    {% for state in states|sort(attribute='name') %}
              <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
	    {% endfor %}
	  </UL>
	{% else %}
	  <UL>
	    {% for city in states.0.cities|sort(attribute='name') %}
	      <LI>{{ city.state_id }}: <B>{{ city.name }}</B></LI>
	    {% endfor %}
	  </UL>
	{% endif %}
    </BODY>
</HTML>
